In [4]:
import pandas as pd
import numpy as np

In [5]:
super_df = pd.read_csv("train_supervised_dataset.csv")

super_df.good = super_df.good.replace("лента.", "лента")
super_df.good = super_df.good.replace("товара нет", np.nan)
super_df.good = super_df.good.replace("т,а,б,л,е,т,к,и", "таблетки")
super_df.good = super_df.good.replace('автокормушка", "автопоилка', "автокормушка,автопоилка")

unsuper_df = pd.read_csv("train_unsupervised_dataset.csv")
test_df = pd.read_csv("test_dataset.csv")

In [11]:
unique_goods = set(super_df[~super_df.good.isna()].good.unique().tolist())
unique_brands = set(super_df[~super_df.brand.isna()].brand.unique().tolist())

In [13]:
unsuper_df["tokens"] = unsuper_df["name"].apply(lambda x: x.lower().split())
test_df["tokens"] = test_df["name"].apply(lambda x: x.lower().split())

,id,name,tokens
0,0,Зубная щетка Орал Би Три эффект Деликатное отб...,"[зубная, щетка, орал, би, три, эффект, деликат..."
1,1,салфетки VISTER влажные для ко,"[салфетки, vister, влажные, для, ко]"
2,2,Платье женское DR8517K 7Л8999 Светло-серый 449...,"[платье, женское, dr8517k, 7л8999, светло-серы..."
3,3,"ЛАКОМСТВО ""ДЕРЕВЕНСКИЕ ЛАКОМСТВА"" д/собак мини...","[лакомство, ""деревенские, лакомства"", д/собак,..."
4,4,Суппорт гитарный Ergo Play Troster,"[суппорт, гитарный, ergo, play, troster]"

In [15]:
def find_ent(tokens, entities):
    for token in tokens:
        if token in entities:
            return token
    return np.nan

In [17]:
unsuper_df["good"] = unsuper_df.tokens.apply(lambda x: find_ent(x, unique_goods))
unsuper_df["brand"] = unsuper_df.tokens.apply(lambda x: find_ent(x, unique_brands))
unsuper_df.head()

,id,name,tokens,good,brand
0,0,Зубная щетка Орал Би Три эффект Деликатное отб...,"[зубная, щетка, орал, би, три, эффект, деликат...",щетка,NaN
1,1,салфетки VISTER влажные для ко,"[салфетки, vister, влажные, для, ко]",салфетки,NaN
2,2,Платье женское DR8517K 7Л8999 Светло-серый 449...,"[платье, женское, dr8517k, 7л8999, светло-серы...",платье,NaN
3,3,"ЛАКОМСТВО ""ДЕРЕВЕНСКИЕ ЛАКОМСТВА"" д/собак мини...","[лакомство, ""деревенские, лакомства"", д/собак,...",лакомство,NaN
4,4,Суппорт гитарный Ergo Play Troster,"[суппорт, гитарный, ergo, play, troster]",NaN,ergo

In [ ]:
test_df["good"] = test_df.tokens.apply(lambda x: find_ent(x, unique_goods))
test_df["brand"] = test_df.tokens.apply(lambda x: find_ent(x, unique_brands))
test_df.head()